/**
 * Site header
 */
.site-header {
  border-top: 5px solid $brand-color-light;
  // border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
  #homepage & {
    border-bottom: none;
    // + * {
    //   margin-top: $spacing-unit * 3.5;
    // }
  }
  + * {
    margin-top: $spacing-unit * 2.5;
  }

  padding-top: 0px;
  padding-bottom: 10px;
  padding-right: 5%;
  background-color: #fdfdfd;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  transition: top 0.3s ease-in-out;
  width: 100%;
  z-index: 3;
  &.border {
    border-bottom: $grey-color-super-light solid thin;
  }
  @include media-query($on-palm) {
    z-index: 6;
  }

}

.nav-up {
  top: -80px;
}

.site-title {
  @include relative-font-size(1.625);
  font-family: $heading-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color;
  }

  #homepage & {
    display: none;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    padding-bottom: .25em;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
    &:hover {
      text-decoration: none;
      color: $accent-color;
      border-bottom: 2px solid $accent-color;
    }
    &.active {
      color: $brand-color;
      border-bottom: 2px solid $brand-color;
      &:hover {
        color: $brand-color-light;
        border-bottom-color: $brand-color-light;
      }
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
  #homepage & {
    border-top: none;
  }
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-list {
  a {
    border-bottom: none;
    display: flex;
    align-items: center;
  }
  li {
    display: inline-block;
    .platform-name {
      display: none;
    }
  }
  &.vertical {
    li {
      display: block;
      .platform-name {
        display: inline;
      }
    }
  }
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */

 main {
   ul li {
     margin-bottom: .5em;
   }
 }
.page-content {
  padding: $spacing-unit 0;
  overflow-x: hidden;
  section {
    margin-bottom: $spacing-unit * 1.5;
  }
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading,
.project-list-heading {
  @include relative-font-size(1.75);
}

.post-list,
.project-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.read-more-link {
  display: inline-block;
  font-size: $small-font-size;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  border-bottom: 2px solid;
  margin-top: $spacing-unit / 2;
}

.post-link {
  margin-bottom: 0;
  @include relative-font-size(1.5);
}

.project-list {
  li {
    margin-bottom: $spacing-unit;
    @include media-query($on-palm) {
      margin-bottom: $spacing-unit * 2;
    }
  }
  h3 {
    margin: 0 0 ($spacing-unit / 3) 0;
    @include relative-font-size(1.5);
    line-height: $heading-line-height;
  }
  a {
    border-bottom: none;
  }
}

.project-link {
  display: flex;
  border-top: 2px solid $grey-color-super-light;
  border-left: 16px solid $grey-color-super-light;
  &:hover {
    border-color: $grey-color-light;
    border-color: $brand-color-light;
    text-decoration: none;
    h3 {
      color: $brand-color;
    }
    .post-meta {
      color: $grey-color-dark;
    }
  }
  @include media-query($on-laptop) {
    display: block;
    border-top: none;
    border-bottom: 2px solid $grey-color-super-light;
  }
}


.project-list-image {
  flex: 0 1 40%;
  display: flex;
  align-items: center;
  @include media-query($on-laptop) {
    flex: none;
    display: block;
    max-height: 150px;
    overflow: hidden;
  }
}

.project-list-content {
  flex: 0 1 60%;
  padding: $spacing-unit;
  @include media-query($on-palm) {
    padding-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}


/**
 * Homepage
 */

#homepage {
  h2 {
    border-top: none;
  }
  section {
    margin-bottom: $spacing-unit * 1.5;
    &.light-bg {
      padding-bottom: $spacing-unit * 1.5;
    }
  }
}

#homepage-intro {
  font-family: $heading-font-family;
  min-height: $spacing-unit * 11;

  .edge--both:before {
    border-top: 6px solid $accent-color;
  }

  .accent-circle {
    position: absolute;
    right: 10%;
    top: -8%;
    width: 75px;
    height: 75px;
    background-color: $accent-color;
    border-radius: 75px;
  }
  
  @media only screen and (min-width: $breakpoint-large) {
    font-size: $base-font-size * 1.4;
  }
  @media only screen and (min-width: 1100px) {
    margin-top: $spacing-unit / 3;
  }
  @media only screen and (min-width: 1400px) {
    margin-top: $spacing-unit;
    min-height: 400px;
  }
  h1 {
    color: #fff;
    font-weight: $base-font-weight;
    font-size: $base-font-size * 3.2;
    line-height: 1.1em;
    @media only screen and (min-width: 1400px) {
      font-size: $base-font-size * 3.8;
    }
  }
  p {
    color: #fff;
    margin-bottom: $spacing-unit;
    font-weight: $base-font-weight; 
    font-size: $base-font-size * 1.2;
    @media only screen and (min-width: 1400px) {
      font-size: $base-font-size * 1.4;
    }
  }
}

#homepage-intro-bg {
  position: absolute;
  height: 100%;
  background-position: right;
  // background-image: url(/assets/about/japanese-garden-cyan-flip.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 200px 0 0 200px;
  border-left: 16px solid $accent-color;
  top: 0;
  right: 0;
  width: 40%;
}


#skills {
  h3 {
    margin: 0;
  }
}


h4 {
  #about-content &,
  .project-content & {
    margin-bottom: $spacing-unit / 3;
    border-left: 6px solid $brand-color;
    padding-left: $spacing-unit / 3;
    + p {
      margin-left: $spacing-unit / 2;
      margin-bottom: $spacing-unit;
    }
  }
}
/**
 * Projects
 */

.project-content {

  h6 {
    color: $accent-color;
    border-bottom-color: $accent-color;
  }

  .project {
    position: relative;
    .iis-bullet-nav {
      a.iis-bullet-active,
      a:hover { 
        background: $accent-color; 
      }
    }
  }

  h6, #project-title {
    background-color: $background-color;
    display: inline-block;
    padding: 0 .25em;
  }

  #project-title {
    // padding-left: .15em;
    // padding-bottom: 1em;
    // display: block;
    /* test for angled header */
    margin-right: -10em;
    padding-left: 10em;
    padding-right: 10em;
    margin-left: -10em;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit * 2;
    display: block;
    background-color: $brand-color-light;
    h1 {
      line-height: $heading-line-height;
    }
  }

  #project-intro {
    font-size: $base-font-size * 1.1;
    //font-family: $heading-font-family;
    font-weight: 300; 
    @media only screen and (min-width: $breakpoint-large) {
      font-size: $base-font-size * 1.3;
    }
    p {
      margin-bottom: $spacing-unit;
    }
  }

  #project-attributes {
    h2 {
      border-top: none;
      margin-top: initial;
    }
    [class^="col"] {
      border-top: 2px solid $accent-color;
    }
  }

  .icon-list {
    display: flex;
    align-items: top;
    h3 { 
      margin-bottom: 0;
      margin-top: 0;
    }
    &.last {
      margin-bottom: $spacing-unit;
    }
  }

  table {
    th {
      background-color: transparent;
      border-color: transparent;
      border-bottom: 6px solid $brand-color-light;
      font-weight: normal;
      color: $brand-color;
      font-family: $heading-font-family;
      font-size: 1.1em;
      padding-bottom: 5px;
    }
    td {
      border-color: transparent;
      &:first-child {
        border-left: 6px solid $brand-color-light;
      }
    }
    tr:nth-child(even) {
      background-color: $grey-color-super-light;
    }
  }
}

.role-list ul {
  margin-left:0;
  li {
    display: inline-block;
    padding: 3px 12px;
    margin: 0 3px 6px 0;
    border: 2px solid $brand-color-light;
    border-radius: 10px;
    font-family: $heading-font-family;
    font-weight: 400;
    font-size: $small-font-size;
  }
}

 .project-image {
   width: 40rem;
   margin: 0 auto;
 }

 // background image full width in header area
 .project-header {
  height: 150px;
  width: 100%;
  background-size: cover;
  background-position: left;
  margin-bottom: 2em;
  margin-top: -30px;
  position: absolute;
  + div {
    margin-top: $spacing-unit;
  }
 }


 .project-image-inline {
    padding: 1em 0;
    .caption {
      margin-top: 1em;
    }
    + .project-image-inline {
      margin-top: 0;
      padding-top: 0;
    }
    h5 {
      border-bottom: 6px solid $brand-color-light;
      display: inline-block;
      font-size: inherit;
    }
    img + .row {
      padding-top: $spacing-unit / 2;
    }
    img ~ .row {
      background-color: #fafafa;
      border-left: 2px solid $accent-color;
      &:last-of-type {
        padding-bottom: $spacing-unit / 2;
      }
    }
    .num-label {
      border: 2px solid $accent-color;
      border-radius: 50%;
      color: $accent-color;
      font-size: 1em;
      font-family: $heading-font-family;
      display: inline-block;
      width: 24px;
      line-height: 24px;
      font-weight: 400;
      text-align: center;
    }
    .label-text {
      font-size: $small-font-size;
      font-family: $heading-font-family;
      font-weight: 400;
    }
}
 
.project-image-inline,
.ideal-image-slider {
  max-width: 85%;
  margin: 1.5em auto;
  @include media-query($on-laptop) {
    max-width: 100%;
  }
  &.full-width {
    max-width: 100%;
  }
}

.ideal-image-slider {
  @include media-query($on-palm) {
    max-height: 350px;
  }
}


 .caption,
 .iis-caption {
  font-size: $small-font-size * .9;
  font-style: italic;
  color: $grey-color;
  line-height: 1.2em;
  font-family: $heading-font-family;
  background: transparent;
 }

 //quick nav to other sections at bottom of page
.other-projects {
  display: flex;
  margin-bottom: $spacing-unit;
  @include media-query($on-laptop) {
    display: block;
  }
  .project-link {
    display: inline-block;
    flex: 1 0; //1 0 25%
    border: 1px solid $grey-color-super-light;
    border-top-width: 16px;
    //padding: $spacing-unit / 4;
    margin: $spacing-unit / 2;
    &:hover {
      border-color: $brand-color-light;
    }
  }
  .project-list-image {
    max-height: $spacing-unit * 5; //150px
    flex: none;
    overflow: hidden;
  }
  .project-list-content {
    flex: unset;
    display: block;
    width: 100%;
    padding: ($spacing-unit / 4);
    h3 {
      padding: 0 ($spacing-unit / 6);
    }
  }
}

.home-link {
  text-align: center;
  margin-bottom: $spacing-unit;
}





/**
 * About page
 */


 #about-sidebar {
  height: 96%;
  width: 30%;
  position: absolute;
  top: 4%;
  left: 0;
  opacity: .4;
  background-size: cover;
  background-position: left;
 }

 #about-content {
   h2 {
     margin-top: $spacing-unit * 2;
   }
 }

