<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include google-analytics-noscript.html %}
    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="container">
        <!-- {{ content }} -->
        <h2 class="project-list-heading">Creative projects</h2>
        <section>
            <p>{{ page.summary | markdownify }}</p>
        </section>
        <section>
            <ul class="project-list">
                {% for creative in site.creative %}
                <li>
                    <a class="project-link" href="{{ creative.url | relative_url }}">
                    <!-- {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %} -->
                    <!-- <span class="post-meta">{{ project.date | date: date_format }}</span> -->
                    <div class="project-list-image">
                        <img src="{{ site.baseurl }}/assets/{{ site.image_path }}/{{ creative.image }}">
                    </div>
                    <div class="project-list-content">
                        <h3>
                            {{ creative.title | escape }}
                        </h3>
                        <span class="post-meta">{{ creative.summary }}</span> 
                        <!-- {% if site.show_excerpts %}
                        {{ post.excerpt }}
                        {% endif %} -->
                    </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>

      </div><!--/container-->
    </main>

    {% include footer.html %}

  </body>

</html>
