<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>
        {% include google-analytics-noscript.html %}
        {% include header.html %}

        <div class="page-content project-content" aria-label="Content">
            <div class="project-header" style="background-image:url('{{ site.baseurl }}/assets/{{ site.image_path }}/{{ page.header-image }}')"></div>
            
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h6>Case Study</h6>
                    </div>
                </div>
            </div>

            <div id="project-title" class="edge--both--reverse light-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>{{ page.title }}</h1>
                        </div><!--/col-->
                    </div><!--/row-->
                </div><!--/container-->
            </div>
                

            <div class="container">

                <main class="project">
                    <section id="contact-content">
                        
                        {{ content }}

                    </section>

                </main>

            </div><!--/container-->

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Other projects</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="other-projects">
                            {% for project in site.projects limit:4 %}
                                {% unless page.id == project.id %}
                            
                                    <a class="project-link" href="{{ project.url | relative_url }}">
                                        <div class="project-list-image">
                                            <img src="{{ site.baseurl }}/assets/{{ site.image_path }}/{{ project.image }}">
                                        </div>
                                        <div class="project-list-content">
                                            <h3>
                                                {{ project.title | escape }}
                                            </h3>
                                        </div>
                                    </a>
                                {% endunless%}
                            {% endfor %}
                        </div><!--/other-projects-->

                        <div class="home-link">
                            &#8592 <a href="{{ "/" | relative_url }}">Back to home</a>
                        </div>

                    </div><!--/col-12-->
                </div><!--/row-->
                
            </div><!--/container-->

        {% include footer.html %}

        {% if page.iis_slider_active %}
            <script src="{{ "/assets/js/ideal-image-slider/ideal-image-slider.min.js" | relative_url }}"></script>
            <script src="{{ "/assets/js/ideal-image-slider/extensions/bullet-nav/iis-bullet-nav.js" | relative_url }}"></script>
            <script src="{{ "/assets/js/ideal-image-slider/extensions/captions/iis-captions.js" | relative_url }}"></script>

            <!-- Sliders on pages -->
            {% for script in page.iis_slider_scripts %}
                {{ script }}
            {% endfor %}
        {% endif %}

    </body>

</html>